.authenticate
  - if current_user
    = "Welcome, #{current_user.first_name.capitalize}"
    \:
    =link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    = link_to 'Login', new_user_session_path
    or
    = link_to 'Sign up', new_user_registration_path

= link_to 'My Mileage Report', root_path, :class => 'brand'

- if current_user
  %ul.nav
    %li
      %a{href: locations_path} Locations
    %li
      %a{href: routes_path} Routes
    %li
      %a{href: 'rails/routes'} Rails-Routes
